/* Font Link - Ojuju*/
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica,'Ojuju', sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    transition: all 0.3s ease;
    color: white;
    font-weight: 400;
}

hr {
    margin: 8px 0;
}

.tools ul {
    display: flex;
    gap: 20px;
    margin: 12px 0;
}

.tools ul li {
    border: 2px solid #333;
    padding: 6px 12px;
}

a:hover {
    background-color: #fff;
    color: #333;
    border-radius: 20px;
}

main {
    padding: 10px 40px;
    color: black;
}

.margin-bottom {
    margin-bottom: 800px;
}

nav .logo h1 {
    font-size: 32px;
}

.nav-links ul,
footer ul
 {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a,
.footer-links a {
    text-decoration: none;
    padding: 6px 12px;
    border: 2px solid #fff;
}

main a {
    /* text-decoration: none; */
    color: #333;
}

main ul {
    list-style: none;
}

main .tools {
    display: flex;
}

main .scrapable-sites {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main .scrapable-sites .card {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.card h3,
.card p {
    margin-bottom: 12px;
}

.card a {
    text-decoration: none;
    padding: 6px 12px;
    border: 2px solid #333;
}

.card a:hover {
    background-color: #333;
    color: white;
    border-color: #333;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px 0;
}

